{{define "main"}}
<!-- background video section -->
<section class="no-padding full-screen-wide cover-background" style="min-height: 500px !important;">
    <div class="video-background  fit-videos">
        <div class="container full-screen position-relative">
            <div class="slider-typography">
                <div class="slider-text-middle-main">
                    <div class="slider-text-top slider-text-middle3">
                        <h1 class="cd-headline letters type" style="margin-bottom:0px">
                            <span class="rotation-highlight">Helgen</span><br>
                            <span class="cd-words-wrapper waiting">
                                <b class="is-visible  ">Potenciando tus operaciones con</b>
                            </span>
                            
                        </h1>
                        <h1 class="cd-headline letters type">
                            <span class="cd-words-wrapper waiting">
                                <b class="is-visible  ">Mantenimiento Avanzado de Tecnología</b>
                            </span>
                            
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-wrapper full-screen-width z-index-0">
        <!-- video -->
        <video autoplay muted loop class="html-video" preload="auto" poster="">
            <source type="video/mp4" src="../../video/logistics.mp4">
        </video>
        <!-- end video -->
        
    </div>
</section>
<!-- End background video section -->
<!-- We are Experts -->
<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1 class="light">Potenciando tus operaciones con<br>
                        <strong>Mantenimiento de tecnología avanzada</strong></h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <div class="col-md-12 col-sm-12 center-col dividers-header text-center double-line">
                    <div class="subheader bg-white">
                        <br><br><br>
                        <h1><span class="light">Nuestra Evolución</span>:<br>Liderando el Camino en Servicios Tecnológicos</h1>
                    </div>
                </div>
                <!-- drop daps -->
                <p class="text-large strong text-justify margin-five"><span class="blue-text"><strong>Expandiendo Horizontes</strong></span>: Desde el Innovador Desarrollo de Software de Inteligencia de Negocios hasta el Pionerismo en el Mantenimiento Tecnológico Preventivo y Correctivo. Se testigo de nuestro viaje hacia asegurar que tus operaciones estén siempre a la vanguardia.</p>
            </div>
            <div class="row">
                <!-- features grid -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center work-process-sub position-relative overflow-hidden sm-margin-bottom-eight wow fadeIn">
                    <div class="work-process-text">
                        <span class="work-process-number font-weight-100 display-block blue-text">2021</span>
                        <span class="text-uppercase letter-spacing-2 font-weight-600 green-text">Helgen Nació</span>
                        <div class="separator-line-thick bg-blue margin-three"></div>
                        </div>
                        <div class="work-process-details position-absolute display-block">
                        <span class="text-large text-uppercase">Comenzamos nuestras operaciones en Irlanda, enfocados en operaciones robóticas y desarrollo de software empresarial.</span>
                    </div>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center work-process-sub position-relative overflow-hidden sm-margin-bottom-eight wow fadeIn">
                    <div class="work-process-text">
                        <span class="work-process-number font-weight-100 display-block blue-text">2022</span>
                        <span class="text-uppercase letter-spacing-2 font-weight-600 green-text">Ingreso a LATAM</span>
                        <div class="separator-line-thick bg-blue margin-three"></div>
                        </div>
                        <div class="work-process-details position-absolute display-block">
                        <span class="text-large text-uppercase">Aterrizamos en LATAM y conseguimos nuestro primer cliente en el espacio de Simulación de Gemelos Digitales.</span>
                    </div>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center work-process-sub position-relative overflow-hidden sm-margin-bottom-eight wow fadeIn">
                    <div class="work-process-text">
                        <span class="work-process-number font-weight-100 display-block blue-text">2023</span>
                        <span class="text-uppercase letter-spacing-2 font-weight-600 green-text">Crecimiento en Gemelos Digitales</span>
                        <div class="separator-line-thick bg-blue margin-three"></div>
                        </div>
                        <div class="work-process-details position-absolute display-block">
                        <span class="text-large text-uppercase">El crecimiento en Gemelos Digitales nos permitió identificar oportunidades en mtto de tecnología avanzada y obtener nuestro primer cliente</span>
                    </div>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center work-process-sub position-relative overflow-hidden sm-margin-bottom-eight wow fadeIn">
                    <div class="work-process-text">
                        <span class="work-process-number font-weight-100 display-block blue-text">2024</span>
                        <span class="text-uppercase letter-spacing-2 font-weight-600 green-text">Enfoque en Expansión</span>
                        <div class="separator-line-thick bg-blue margin-three"></div>
                        </div>
                        <div class="work-process-details position-absolute display-block">
                        <span class="text-large text-uppercase">Estamos enfocados en expandir nuestra división de mantenimiento de tecnología avanzada.</span>
                    </div>
                </div>
                <!-- end features item -->
                <!-- end features grid -->
        </div>
    </div>
</section>
<section class="wow fadeIn margin-two" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Bienvenido al futuro del <br> mantenimiento de tecnología</h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large text-center margin-five"><strong>Más Allá de las Soluciones:</strong> Anticipamos, Prevenimos e Innovamos. Nuestros servicios de mantenimiento integrales abarcan software, hardware y más allá, asegurando que tu ecosistema tecnológico prospere.</p>
            </div>
            <div class="container-fluid">
                <div class="row no-margin-bottom">
                    <div class="col-md-12 grid-gallery overflow-hidden no-padding">
                        <div class="tab-content">
                            <!-- photography filter grid -->
                            <ul class="grid masonry-items lightbox-gallery">
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../../images/helgeneta.jpg" title=""><img src="../../images/helgeneta.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../../images/daniel.jpg" title=""><img src="../../images/daniel.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../../images/alonso.jpg" title=""><img src="../../images/alonso.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../../images/daniel2.jpg" title=""><img src="../../images/daniel2.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                 <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../../images/rey.jpg" title=""><img src="../../images/rey.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../../images/rey2.jpg" title=""><img src="../../images/rey2.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                
                            </ul>
                            <!-- end photography grid -->
                        </div>
                    </div>
        
                </div>
            </div>
    </div>
</section>
<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1><span class="light">Transformando industrias</span>:<br> nuestro impacto en acción</h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large text-center margin-five"><strong>Desde el Mantenimiento de Dispositivos de Geolocalización hasta las Actualizaciones de Sistemas de Puertas Automáticas, desde el Mantenimiento de Bases de Datos hasta los Sistemas de Monitoreo de Contenedores:</strong> descubre cómo nuestros servicios de mantenimiento han revolucionado la eficiencia operativa y la innovación.</p>
            </div>
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../../images/geo.png" alt=""/>
                <p class="center-col width-90 text-large blue">Optimizamos las operaciones mediante un mantenimiento integral tanto para plataformas de Geolocalización como para sus dispositivos, implementando reinicios remotos, reparaciones en el lugar y automatizando respuestas a problemas frecuentes para una mayor eficiencia.</p>
                <i class="fa  fa-location-arrow small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../../images/gate.png" alt=""/>
                <p class="center-col width-90 text-large blue">Aseguramos operaciones de carga sin problemas con nuestros servicios de mantenimiento para sistemas de puertas automáticas, que incluyen limpieza del sistema, actualizaciones de firmware, reemplazo de papel para impresoras y más, garantizando un funcionamiento ininterrumpido.</p>

                <i class="fa  fa-refresh small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../../images/bases.png" alt=""/>
                <p class="center-col width-90 text-large blue">Optimizamos la tecnología operativa mediante el mantenimiento de bases de datos tanto en el lugar como de forma remota. A través de la desfragmentación, optimización y revisiones regulares, garantizamos su operación y disponibilidad continua.</p>
                <i class="fa  fa-database small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->  
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">                     
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-ten">
                <div class="subheader bg-white text-center">
                    <h1>¿Por qué asociarte con nosotros?</h1><br>
                </div>
                <h2 class="text-center">Con Helgen Technologies, no solo estás manteniendo; estás avanzando.<br><br>Nuestro enfoque en el mantenimiento de la tecnología asegura que tus sistemas no solo estén operativos, sino optimizados para futuros desafíos.<br><br>Convirtamos el tiempo de inactividad en algo del pasado.</h2><br><br>
            </div>
            <div class="col-md-6 col-sm-12 margin-two wow zoomInUp">
                <img src="../../images/partner.jpg">
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">                     
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-two wow zoomInUp">
                <img src="../../images/elevate.jpg">
            </div>
            <div class="col-md-6 col-sm-12 margin-ten text-center">
                <div class="subheader bg-white">
                    <h1>Da el salto</h1><br>
                </div>
                <h2 class="text-center">Acepta el Futuro con Helgen Technologies. Contáctanos para aprovechar todo el potencial de tus sistemas tecnológicos.<br><br>
                No esperes al próximo fallo; ¡PREVÉNLO!<br><br>
                ¡Ponte en contacto! Innova, Optimiza y Crece con Helgen Technologies. Construyamos un Futuro donde tu Tecnología Impulse el Éxito.</h2><br><br>
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>
  
<div class="wide-separator-line-white"></div>
{{ end }}