{{define "main"}}
<!-- background video section -->
<section class="no-padding full-screen-wide cover-background" style="min-height: 500px !important;">
    <div class="video-background  fit-videos">
        <div class="container full-screen position-relative">
            <div class="slider-typography">
                <div class="slider-text-middle-main">
                    <div class="slider-text-top slider-text-middle3">
                        <h1 class="cd-headline letters type" style="margin-bottom:0px">
                            <span class="rotation-highlight">Helgen</span><br>
                            <span class="cd-words-wrapper waiting">
                                <b class="is-visible  ">Empowering your operations with</b>
                            </span>
                            
                        </h1>
                        <h1 class="cd-headline letters type">
                            <span class="cd-words-wrapper waiting">
                                <b class="is-visible  ">Advanced Technology Maintenance</b>
                            </span>
                            
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-wrapper full-screen-width z-index-0">
        <!-- video -->
        <video autoplay muted loop class="html-video" preload="auto" poster="">
            <source type="video/mp4" src="../video/logistics.mp4">
        </video>
        <!-- end video -->
        
    </div>
</section>
<!-- End background video section -->
<!-- We are Experts -->
<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1 class="light">Empowering your operations with<br>
                    <strong>Advanced technology maintenance</strong></h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <div class="col-md-12 col-sm-12 center-col dividers-header text-center double-line">
                    <div class="subheader bg-white">
                        <br><br><br>
                        <h1><span class="light">Our Evolution</span>:<br>Leading the Way in Technology Services</h1>
                    </div>
                </div>
                <!-- drop daps -->
                <p class="text-large strong text-justify margin-five"><span class="blue-text"><strong>Expanding Horizons</strong></span>: From Groundbreaking BI Software Development to Pioneering in Preventive and Reactive Technology Maintenance. Witness our journey towards ensuring your operations are always ahead.</p>
            </div>
            <div class="row">
                <!-- features grid -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center work-process-sub position-relative overflow-hidden sm-margin-bottom-eight wow fadeIn">
                    <div class="work-process-text">
                        <span class="work-process-number font-weight-100 display-block blue-text">2021</span>
                        <span class="text-uppercase letter-spacing-2 font-weight-600 green-text">Helgen was Born</span>
                        <div class="separator-line-thick bg-blue margin-three"></div>
                    </div>
                    <div class="work-process-details position-absolute display-block">
                        <span class="text-large text-uppercase">We began our operations in Ireland, focused on robotic operations and enterprise software development</span>
                    </div>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center work-process-sub position-relative overflow-hidden sm-margin-bottom-eight wow fadeIn">
                    <div class="work-process-text">
                        <span class="work-process-number font-weight-100 display-block blue-text">2022</span>
                        <span class="text-uppercase letter-spacing-2 font-weight-600 green-text">LATAM Entry</span>
                        <div class="separator-line-thick bg-blue margin-three"></div>
                    </div>
                    <div class="work-process-details position-absolute display-block">
                        <span class="text-large text-uppercase">We landed on LATAM and got our first customer in the Digital Twin Simulation space</span>
                    </div>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center work-process-sub position-relative overflow-hidden sm-margin-bottom-eight wow fadeIn">
                    <div class="work-process-text">
                        <span class="work-process-number font-weight-100 display-block blue-text">2023</span>
                        <span class="text-uppercase letter-spacing-2 font-weight-600 green-text">Digital Twin Growth</span>
                        <div class="separator-line-thick bg-blue margin-three"></div>
                    </div>
                    <div class="work-process-details position-absolute display-block">
                        <span class="text-large text-uppercase">We grew in the Digital Twin space. We identified opportunities in advanced technology maintenance and got our first customer!</span>
                    </div>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center work-process-sub position-relative overflow-hidden sm-margin-bottom-eight wow fadeIn">
                    <div class="work-process-text">
                        <span class="work-process-number font-weight-100 display-block blue-text">2024</span>
                        <span class="text-uppercase letter-spacing-2 font-weight-600 green-text">Expansion Focus</span>
                        <div class="separator-line-thick bg-blue margin-three"></div>
                    </div>
                    <div class="work-process-details position-absolute display-block">
                        <span class="text-large text-uppercase">We are focused on expanding our advanced technology maintenance division.</span>
                    </div>
                </div>
                <!-- end features item -->
                <!-- end features grid -->
        </div>
    </div>
</section>
<section class="wow fadeIn margin-two" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Welcome to the future of <br> technology maintenance</h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large text-center margin-five"><strong>Beyond Fixes:</strong> We Anticipate, Prevent, and Innovate. Our comprehensive maintenance services span software, hardware, and beyond, ensuring your technology ecosystem thrives.</p>
            </div>
            <div class="container-fluid">
                <div class="row no-margin-bottom">
                    <div class="col-md-12 grid-gallery overflow-hidden no-padding">
                        <div class="tab-content">
                            <!-- photography filter grid -->
                            <ul class="grid masonry-items lightbox-gallery">
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../images/helgeneta.jpg" title=""><img src="../images/helgeneta.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../images/daniel.jpg" title=""><img src="../images/daniel.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../images/alonso.jpg" title=""><img src="../images/alonso.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../images/daniel2.jpg" title=""><img src="../images/daniel2.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                 <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../images/rey.jpg" title=""><img src="../images/rey.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                <!-- photography item -->
                                <li class="landscapes fashion">
                                    <figure>
                                        <div class="gallery-img"><a href="../images/rey2.jpg" title=""><img src="../images/rey2.jpg" alt=""/></a></div>
                                    </figure>
                                </li>
                                <!-- end photography item -->
                                
                            </ul>
                            <!-- end photography grid -->
                        </div>
                    </div>
        
                </div>
            </div>
    </div>
</section>
<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1><span class="light">Transforming industries</span>:<br> our impact in action</h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large text-center margin-five"><strong>From Geo-Location Devices Maintenance to Autogate System Upgrades, from Database
                    Maintenance and to Container Monitoring Systems:</strong> discover how our maintenance services
                    have revolutionized operational efficiency and innovation.</p>
            </div>
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../images/geolocation.png" alt=""/>
                <p class="center-col width-90 text-large blue">We streamline operations through comprehensive maintenance for both Geolocation platforms and
                    their devices—implementing remote resets, on-site repairs, and automating responses to frequent issues for enhanced efficiency.</p>
                <i class="fa  fa-location-arrow small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../images/autogate.png" alt=""/>
                <p class="center-col width-90 text-large blue">We ensure seamless cargo operations with our maintenance services for automatic gate systems,  encompassing system cleaning, firmware updates, paper replacement for printing machines, and more—guaranteeing uninterrupted functionality.</p>
                <i class="fa  fa-refresh small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../images/database.png" alt=""/>
                <p class="center-col width-90 text-large blue">We optimize operational technology by maintaining databases both on-site and remotely. Through
                    defragmentation, optimization, and regular reviews, we guarantee their continuous operation and availability.</p>
                <i class="fa  fa-database small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->  
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">                     
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-ten">
                <div class="subheader bg-white text-center">
                    <h1>Why Partner with us?</h1><br>
                </div>
                <h2 class="text-center">With Helgen Technologies, you're not just maintaining; you're advancing.<br><br> Our approach to technology maintenance ensures your systems are not just operational but optimized for future challenges.<br><br>Let's make downtime a thing of the past</h1><br><br>
            </div>
            <div class="col-md-6 col-sm-12 margin-two wow zoomInUp">
                <img src="../images/partner.jpg">
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">                     
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-two wow zoomInUp">
                <img src="../images/elevate.jpg">
            </div>
            <div class="col-md-6 col-sm-12 margin-ten text-center">
                <div class="subheader bg-white">
                    <h1>Take the leap</h1><br>
                </div>
                <h2 class="text-center">Embrace the Future with Helgen Technologies. Contact us to harness the  full potential of your technology systems.<br><br>
                Don't wait for the next breakdown; PREVENT IT!<br><br>
                Get in touch! Innovate, Optimize, and Grow with Helgen Technologies. Let's Build a Future Where Your Technology Drives Success.</h1><br><br>
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>
  
<div class="wide-separator-line-white"></div>
{{ end }}