{{define "main"}}
<!-- head section -->
<section class="page-title parallax3 parallax-fix page-title-large">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="../../images/team.jpg" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
                <div class="separator-line bg-green no-margin-top margin-four"></div>
                <!-- page title -->
                <h1 class="white-text">¡Haz una carrera con nosotros!</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->
<!-- content section -->
<section class="wow fadeIn">
    <!-- container -->
    <div class="container">
     <!-- row -->
     <div class="row rowfull">
        <div class="col-md-12 col-sm-12">
            <div>
                <h1>Técnicos de Mantenimiento / Instalación GPS</h1>
                <h2>Ensenda, Baja California o Manzanillo, Colima</h2>
            </div>
            <br>
            <p class="text-large text-justify">Helgen Technologies de México busca dos <strong>Técnicos en Mantenimiento / Instalación de GPS</strong> altamente calificados y comprometidos para unirse a nuestro equipo. Los candidatos seleccionados desempeñarán un papel esencial en el mantenimiento y reparación de tecnologías operativas en instalaciones portuarias en las ciudades de <strong>Ensenada, Baja California</strong> y <strong>Manzanillo, Colima</strong> respectivamente.<br><br>La habilidad en eléctrica, electrónica, programación y soldar, son requisitos fundamentales para este puesto.</p>
    
            <h1>Responsabilidades:</h1>
            <ul class="text-large jobs">
                <li>Instalación de GPS en diferentes tipos de unidades.</li>
                <li>Realizar tareas de mantenimiento preventivo y correctivo en equipos y tecnologías operativas.</li>
                <li>Llevar a cabo trabajos de electrónica, cardeo y pintura según sea necesario en componentes electrónicos y mecánicos.</li>
                <li>Identificar y solucionar problemas de manera eficiente y efectiva para minimizar el tiempo de inactividad.</li>
                <li>Colaborar con el equipo de mantenimiento para llevar a cabo tareas de reparación y mantenimiento programadas.</li>
                <li>Realizar inspecciones regulares para detectar desgaste, defectos o posibles problemas en los equipos.</li>
                <li>Contribuir al mantenimiento de registros precisos de mantenimiento y reportar el estado de las reparaciones y mejoras realizadas.</li>
                <li>Cumplir con los estándares de seguridad y normativas vigentes en todas las actividades de mantenimiento.</li>
                <li>Colaborar con otros departamentos para garantizar un funcionamiento eficiente de las tecnologías operativas.</li>
            </ul><br>
    
            <h1>Requisitos:</h1>
            <ul class="text-large jobs">
                <li>Experiencia en instalación de GPS (cableado, instalación eléctrica, monitoreo en plataforma).</li>
                <li>Experiencia en Instalaciones eléctricas / electrónicas.</li>
                <li>Experiencia previa en mantenimiento industrial o similar, con énfasis en electrónica.</li>
                <li>Habilidad comprobada para realizar trabajos de electricidad, electrónica de manera precisa y segura.</li>
                <li>Capacidad para diagnosticar y solucionar problemas técnicos de manera efectiva.</li>
                <li>Capacidad para trabajar de manera independiente y en equipo.</li>
                <li>Disponibilidad para trabajar en horarios flexibles, incluyendo turnos nocturnos y fines de semana si es necesario.</li>
                <li>Compromiso con la seguridad en el lugar de trabajo y el cumplimiento de normativas.</li>
                <li>Excelentes habilidades de comunicación oral y escrita.</li>
                <li>Deseable formación técnica en electricidad / electrónica.</li>
            </ul><br>
            
            <h1>Ofrecemos:</h1>
            <ul class="text-large jobs">
                <li>Salario competitivo acorde a la experiencia y habilidades del candidato.</li>
                <li>Prestaciones de ley.</li>
                <li>Oportunidades de desarrollo profesional y capacitación continua.</li>
                <li>Ambiente de trabajo colaborativo y orientado a la innovación.</li>
            </ul><br>
        </div>

    <div class="col-md-12">
        <p class="text-large text-center">Si eres un técnico en mantenimiento con habilidades sólidas en electricidad / electrónica y deseas formar parte de nuestro equipo en Helgen Technologies de México, te invitamos a enviar tu currículum y carta de presentación al correo: <a href="mailto:vacantes@helgen.tech"><strong>vacantes@helgen.tech</strong></a>,<strong> Recuerda mencionar en el correo a que vacante estás aplicando Ensenada, Baja California o Manzanillo, Colima.</strong></p>
            
        <p class="text-large text-center"><strong>¡Esperamos contar contigo para mantener y mejorar nuestras tecnologías operativas de manera eficiente!</strong></p>
    </div>
    <div class="separator-line margin-ten"></div>

    </div>
<!-- end row -->
</section>


{{ end }}