{{define "main"}}
<!-- background video section -->
<section class="no-padding full-screen-wide cover-background" style="min-height: 500px !important;">
    <div class="video-background  fit-videos">
        <div class="container full-screen position-relative">
            <div class="slider-typography">
                <div class="slider-text-middle-main">
                    <div class="slider-text-top slider-text-middle3">
                        <img src="../../images/ROSIEPiLogoWithSloganes.png" style="margin-top:120px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-wrapper full-screen-width z-index-0">
        <!-- video -->
        <video autoplay muted loop class="html-video" preload="auto" poster="">
            <source type="video/mp4" src="../../video/contenedoreslow.mp4">
        </video>
        <!-- end video -->
        
    </div>
</section>
<!-- End background video section -->

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>¿Qué es ROSIEP<span class="lower">i</span>?</h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large strong text-center margin-five">ROSIEP<span class="lower">i</span> es nuestra innovadora plataforma digital de inteligencia empresarial basada en la web, diseñada con múltiples componentes para revolucionar tus conocimientos operativos en un solo ecosistema.</p>
            </div>
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../../images/1es.png" alt=""/>
                <p class="center-col width-90 text-large blue">Aprovechando un gestor de escenarios dinámico y un potente motor de simulación para modelar operaciones sin precedentes.</p>
                <i class="fa  fa-lightbulb-o small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../../images/2es.png" alt=""/>
                <p class="center-col width-90 text-large blue">Conectándose de manera fluida con varios sistemas de gestión, ofreciendo una vista unificada de tu panorama operativo.</p>
                <i class="fa fa-code small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../../images/3es.png" alt=""/>
                <p class="center-col width-90 text-large blue">Herramientas avanzadas de inteligencia empresarial y motores de análisis que ofrecen predicciones personalizadas e ideas profundas para la toma de decisiones estratégicas.</p>
                <i class="fa fa-magic small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->  
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line margin-two">
                <div class="subheader bg-white">
                    <img src="../../images/ROSIE.png" width="350">
                    <h1 class="blue-text margin-two">Funciones y complementos</h1>
                </div>
            </div>
        </div>

        <div class="row margin-two no-margin-bottom">
        
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Simulador de Gemelos Digitales</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Digitaliza tus operaciones con una réplica virtual accesible desde cualquier lugar.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
           
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Gestor de Escenarios</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Simplifica el flujo de trabajo de tu simulación, garantizando la alineación y eficiencia del equipo.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Visualizador</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Visualiza simulaciones y transforma datos en claridad con paneles personalizables e informativos.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>  
        
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Análisis de Costos</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Obtén conocimientos financieros analizando costos a partir de simulaciones y datos reales.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Comparación de Escenarios</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Compara rápidamente escenarios para informar decisiones con nuestra herramienta intuitiva.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Experimentador Montecarlo</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Navega por la incertidumbre con extensas simulaciones de escenarios, aplicando variación probabilística para prever resultados y evaluar riesgos.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>

            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Motor de Física/Cinemática:</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Simula con precisión la dinámica de vehículos para análisis de colisiones y maniobras, optimizando operaciones de transporte y logística.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>

            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Conectores de Bases de Datos:</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Integra fácilmente con tus bases de datos existentes, asegurando un flujo constante de datos actualizados para un análisis preciso e insights.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>

            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Hooks de Automatización:</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Automatiza flujos de trabajo de análisis de datos con tuberías de datos históricos, permitiendo optimización continua y descubrimiento de tendencias.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
        </div>
    </div>
    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Motor de Simulación de Gemelos Digitales</h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large strong text-center margin-five">¡Ahora, obtener superpoderes para impulsar la transformación digital es una realidad con nuestra plataforma de gemelo digital de simulación!</p>
            </div>
            <div class="wow fadeIn">
                <img src="../../images/laptop1.png">
            </div>
            <div class="col-12 col-sm-3 margin-three"><div class="separator-line-full bg-green"></div><h2 class="text-center">Viaja en el Tiempo</h2></div>
            <div class="col-12 col-sm-3 margin-three"><div class="separator-line-full bg-green"></div><h2 class="text-center">Teletransportación</h2></div>
            <div class="col-12 col-sm-3 margin-three"><div class="separator-line-full bg-green"></div><h2 class="text-center">Predecir múltiples futuros</h2></div>
            <div class="col-12 col-sm-3 margin-three"><div class="separator-line-full bg-green"></div><h2 class="text-center">Optimizar el presente</h2></div>
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-two">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Toma Decisiones Informadas</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">
                                  
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-two">
                <h1  class="blue">Analítica de Datos Potenciada por IA</h1><br>
                <h2>Acelera decisiones estratégicas y optimiza costos con nuestras herramientas de inteligencia empresarial impulsadas por IA y motores de análisis. Intégralas sin problemas para obtener información adaptada que revolucione tu perspectiva empresarial.</h2>
            </div>
            <div class="col-md-6 col-sm-12 margin-two wow fadeIn">
                <img src="../../images/coruscant.png">
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>

<section class="corporate-standards margin-two" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Casos de Éxito</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="slider" class="no-padding"> 
    <div id="owl-demo" class="owl-carousel2 owl-theme owl-full-slider dark-pagination">
        <div class="item owl-bg-img">
            <div class="container position-relative">
                <div class="col-lg-6 col-md-6 no-padding corporate-standards-img cover-background position-relative">
                    <img src="../../images/coruscant1.png">
                </div>
                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                    <div class="img-border-small-fix border-blue"></div>
                    <i class="icon-linegraph large-icon green-text"></i>
                    <h1 class="margin-ten no-margin-bottom">REVOLUCIONANDO OPERACIONES EN LAS TERMINALES: ¡PRONOSTICANDO EL ÉXITO!</h1>
                    <h2>Estamos redefiniendo la gestión de instalaciones al predecir con precisión los indicadores clave de rendimiento para terminales que manejan más de 10 millones de contenedores de envío anualmente.</h2>
                </div> 
            </div>
        </div>
        <div class="item owl-bg-img">
            <div class="container position-relative">
                <div class="col-lg-6 col-md-6 no-padding corporate-standards-img cover-background position-relative">
                    <img src="../../images/coruscant2.png">
                </div>
                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                    <div class="img-border-small-fix border-blue"></div>
                    <i class="icon-focus large-icon green-text"></i>
                    <h1 class="margin-ten no-margin-bottom">TRANSFORMANDO TERMINALES DE CONTENEDORES: ¡UN ÉXITO DIGITAL!</h1>
                    <h2>Nuestras réplicas van más allá de las métricas, probando innovaciones como camiones autónomos, reconfiguraciones de patios y expansiones, mostrando impactos transformadores.</h2>
                </div>
            </div>
        </div>
        <div class="item owl-bg-img">
            <div class="container position-relative">
                <div class="col-lg-6 col-md-6 no-padding corporate-standards-img cover-background position-relative">
                    <img src="../../images/coruscant3.png">
                </div>
                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                    <div class="img-border-small-fix border-blue"></div>
                    <i class="icon-wallet large-icon green-text"></i>
                    <h1 class="margin-ten no-margin-bottom">REVOLUCIONANDO LA GESTIÓN DE COSTOS:</h1>
                    <h2>Nuestro innovador modelo de costos ha transformado la forma en que se calculan los costos operativos por contenedor, adaptándose sin problemas a diferentes configuraciones. ¡Es como si hubiéramos desbloqueado una bola de cristal para predecir los gastos de contenedores!.</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Adaptado para satisfacer tus necesidades</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-two">
            <!-- drop daps -->
            <p class="text-large strong text-center margin-five">Abraza el futuro con ROSIEP<span class="lower">i</span> – tu solución para una integración perfecta de inteligencia empresarial. Adaptado a tus operaciones, se sincroniza rápidamente con tus sistemas para una transformación inmediata de información. Adáptate rápidamente con ROSIEP<span class="lower">i</span>.</p>
        </div> 
        <!-- Innovate -->
        <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
            <h2 class="margin-two">Personalizable</h2>
            <p class="center-col width-90 text-large blue">ROSIEP<span class="lower">i</span> está diseñado con flexibilidad en su núcleo. Personaliza la plataforma para que se ajuste a tus necesidades comerciales únicas y escala a medida que creces.</p>
        </div>
        <!--End Innovate  -->
        <!-- Innovate -->
        <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
            <h2 class="margin-two">Adaptable</h2>
            <p class="center-col width-90 text-large blue">Integra rápidamente ROSIEP<span class="lower">i</span> con tus sistemas existentes. Nuestro marco ágil se adapta a tu entorno operativo, asegurando una transición fluida y un valor inmediato.</p>
        </div>
        <!--End Innovate  -->
        <!-- Innovate -->
        <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
            <h2 class="margin-two">Integración de Datos</h2>
            <p class="center-col width-90 text-large blue">Importa tus datos a ROSIEP<span class="lower">i</span> sin esfuerzo. Soportamos una variedad de formatos, facilitando el inicio y el mantenimiento de la eficiencia de tu flujo de trabajo.</p>
        </div>
        <!--End Innovate  -->  

</div>
    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-two">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Seguridad de tus Datos</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">
                                  
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-two wow zoomInUp">
                <img src="../../images/secure.png">
            </div>
            <div class="col-md-6 col-sm-12 margin-ten">
                <h2 class="text-center">La seguridad de tus datos es primordial. Implementamos medidas rigurosas y evolucionamos constantemente nuestros protocolos para proteger tu información, convirtiéndonos en tu guardián de confianza.</h2>
            </div>
            
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-two">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Planes y complementos:</h1>
                </div>
            </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large strong text-center margin-five">Tu puerta de entrada a operaciones más inteligentes: la Licencia Básica ofrece herramientas vitales como Simulación de Gemelo Digital y Gestor de Escenarios, con acceso para 10 usuarios y 150 horas de simulación de gemelo digital. Amplía la funcionalidad con nuestros complementos personalizados en cualquier momento.</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">
            <div class="col-md-6 col-sm-12 wow zoomInUp corporate-standards">
                <div class="border border-blue padding-seven">
                <h1 class="blue-text">Licencia Básica</h1>
                <a href="https://calendly.com/helgentech/intro-to-helgen-technologies" target="_blank" class="highlight-button2 btn btn-small button xs-margin-bottom-five">¡Pruébalo ahora!</a>
                <div class="separator-line-full bg-green"></div>
                <ul class="ulcheck">
                    <li style="margin-top:10px"><h2><strong>SIMULACIÓN DE GEMELO DIGITAL</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>VISUALIZADOR</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>GESTOR DE ESCENARIOS</strong></h2></li>
                    <li style="margin-top:10px"><h2><span class="green-text">5 </span><strong>USUARIOS COMPLETOS:</strong></h2></li>
                    <li style="margin-top:10px"><h2><span class="green-text">5 </span><strong>USUARIOS BÁSICOS:</strong></h2></li>
                    <li style="margin-top:10px"><h2><span class="green-text">150 </span><strong>HORAS DE SIMULACIÓN:</strong></h2></li>
                </ul>
                </div>
            </div>
            <div class="col-md-1 col-sm-12" style="min-width:10px"></div>
            <div class="col-md-6 col-sm-12 wow zoomInUp corporate-standards">
                <div class="border border-blue padding-seven">
                <h1 class="blue-text">Complementos</h1>
                <a href="https://calendly.com/helgentech/intro-to-helgen-technologies" target="_blank" class="highlight-button2 btn btn-small button xs-margin-bottom-five">¡Pruébalo ahora!</a>
                <div class="separator-line-full bg-green"></div>
                <ul class="ulcheck">
                    <li style="margin-top:10px"><h2><strong>HERRAMIENTA DE ANÁLISIS DE COSTOS</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>HERRAMIENTA DE COMPARACIÓN DE ESCENARIOS</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>MOTOR DE FÍSICA/CINEMÁTICA</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>EXPERIMENTADOR MONTE CARLO</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>CONECTORES DE BASE DE DATOS</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>TIEMPO ADICIONAL DE SIMULACIÓN DE GEMELO DIGITAL</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>USUARIOS ADICIONALES</strong></h2></li>
                </ul>
                </div>
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>


<section id="lastDiv" class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-two">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Empodera tu Negocio con Nosotros</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">                     
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-ten">
                <h2 class="text-center">Transforma tus operaciones ahora—desbloquea información adaptada, asegura la seguridad de los datos y entra en un futuro de agilidad estratégica con nosotros. Asociémonos hoy.</h1><br><br>
                <div class="text-center">
                <a href="https://calendly.com/helgentech/intro-to-helgen-technologies" target="_blank" class="highlight-button2 btn btn-small button xs-margin-bottom-five">¡Pruébalo ahora!</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 margin-two wow zoomInUp">
                <img src="../../images/handshake.png">
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>

<div class="bg-blue sticky padding-sticky wow fadeInUp" style="margin-bottom:-2px">
    <div class="row sm-text-center">
        <div class="col-md-1">
            <i class="medium-icon white-text icon-laptop" style="margin: 11px !important;"></i>
        </div>
        <div class="col-md-7 no-padding">
            <h2 class="text-uppercase letter-spacing-2 margin-two white-text font-weight-600 xs-margin-top-six xs-margin-bottom-six display-block">Contáctanos y solicita una demostración</h2>
        </div>
        <div class="col-md-4 no-padding">
            <a class="highlight-button btn btn-large button xs-margin-bottom-five xs-no-margin-right" href="https://calendly.com/helgentech/intro-to-helgen-technologies">Contáctanos</a>
        </div>
    </div>
</div>



{{ end }}