{{define "main"}}
<!-- background video section -->
<section class="no-padding full-screen-wide cover-background" style="min-height: 500px !important;">
    <div class="video-background  fit-videos">
        <div class="container full-screen position-relative">
            <div class="slider-typography">
                <div class="slider-text-middle-main">
                    <div class="slider-text-top slider-text-middle3">
                        <img src="../images/ROSIEPiLogoWithSloganw.png" style="margin-top:120px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-wrapper full-screen-width z-index-0">
        <!-- video -->
        <video autoplay muted loop class="html-video" preload="auto" poster="">
            <source type="video/mp4" src="../video/contenedoreslow.mp4">
        </video>
        <!-- end video -->
        
    </div>
</section>
<!-- End background video section -->

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>What is ROSIEP<span class="lower">i</span>?</h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large strong text-center margin-five">ROSIEP<span class="lower">i</span> is our innovative web-based business intelligence digital platform, designed with multiple components to revolutionize your operational insights in a single ecosystem.</p>
            </div>
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../images/1.png" alt=""/>
                <p class="center-col width-90 text-large blue">Harnessing a dynamic scenario manager and a powerful simulation engine for unprecedented operational modeling.</p>
                <i class="fa  fa-lightbulb-o small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../images/2.png" alt=""/>
                <p class="center-col width-90 text-large blue">Seamlessly connecting with various management systems, offering a unified view of your operational landscape.</p>
                <i class="fa fa-code small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->
            <!-- Innovate -->
            <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
                <img src="../images/3.png" alt=""/>
                <p class="center-col width-90 text-large blue">Advanced BI tools and analytics engines delivering tailored predictions and deep insights for strategic decision-making.</p>
                <i class="fa fa-magic small-icon green-text display-block margin-five no-margin-bottom"></i>
            </div>
            <!--End Innovate  -->  
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line margin-two">
                <div class="subheader bg-white">
                    <img src="../images/ROSIE.png" width="350">
                    <h1 class="blue-text margin-two">Features & add-ons</h1>
                </div>
            </div>
        </div>

        <div class="row margin-two no-margin-bottom">
        
            <div class="col-md-4 col-sm-12">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Digital Twin Simulator</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Digitize your operations with a virtual replica accessible from anywhere.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
           
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Scenario Manager</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Streamline your simulation workflow, ensuring team alignment and efficiency.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Visualizer</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Visualize simulations and tansform data into clarity with customizable insightful dashboards.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>  
        
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Cost Analysis</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Gain financial insights by analyzing costs from simulations and real data.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Scenario Compare</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Quickly compare scenarios to inform decisions with our intuitive tool.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
            
            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Monte Carlo Experimenter</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Navigate uncertainty with extensive scenario simulations, applying probabilistic variation to forecast outcomes and assess risks.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>

            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Physics/Kinematics Engine:</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Accurately simulate vehicle dynamics for collision and maneuver analysis, optimizing transport and logistics operations.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>

            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Database Connectors:</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Effortlessly integrate with your existing databases, ensuring a constant stream of fresh data for accurate analysis and insights.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>

            <div class="col-md-4 col-sm-12  ">
                <!-- features item -->
                <div class="features-section col-md-12 col-sm-12 no-padding wow fadeInUp">
                    <div class="col-12 no-padding text-left f-right">
                        <h2>Automation Hooks:</h2>
                        <div class="separator-line bg-green"></div>
                        <p class="text-large blue-text">Automate data analysis workflows with historical data pipelines, enabling continuous optimization and trend discovery.</p>
                    </div>
                </div>
                <!-- end features item -->
            </div>
        </div>
    </div>
    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Digital Twin Simulation Engine</h1>
                </div>
            </div>
        </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large strong text-center margin-five">Now, earning superpowers to boost digital transformation is a reality with our  simulation digital twin platform!</p>
            </div>
            <div class="wow fadeIn">
                <img src="../images/laptop1.png">
            </div>
            <div class="col-12 col-sm-3 margin-three"><div class="separator-line-full bg-green"></div><h2 class="text-center">Travel Through Time</h2></div>
            <div class="col-12 col-sm-3 margin-three"><div class="separator-line-full bg-green"></div><h2 class="text-center">Teleport</h2></div>
            <div class="col-12 col-sm-3 margin-three"><div class="separator-line-full bg-green"></div><h2 class="text-center">Predict multiple futures</h2></div>
            <div class="col-12 col-sm-3 margin-three"><div class="separator-line-full bg-green"></div><h2 class="text-center">Optimize the present</h2></div>
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-two">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Take Informed Decisions</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">
                                  
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-two">
                <h1  class="blue">AI Powered Data Analytics</h1><br>
                <h2>Accelerate strategic decisions and optimize costs with our AI-driven BI tools and analytics engines. Seamlessly integrate for insights tailored to revolutionize your business perspective.</h2>
            </div>
            <div class="col-md-6 col-sm-12 margin-two wow fadeIn">
                <img src="../images/coruscant.png">
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>

<section class="corporate-standards margin-two" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Success Cases</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="slider" class="no-padding"> 
    <div id="owl-demo" class="owl-carousel2 owl-theme owl-full-slider dark-pagination">
        <div class="item owl-bg-img">
            <div class="container position-relative">
                <div class="col-lg-6 col-md-6 no-padding corporate-standards-img cover-background position-relative">
                    <img src="../images/coruscant1.png">
                </div>
                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                    <div class="img-border-small-fix border-blue"></div>
                    <i class="icon-linegraph large-icon green-text"></i>
                    <h1 class="margin-ten no-margin-bottom">REVOLUTIONIZING TERMINAL OPERATIONS: FORECASTING SUCCESS!</h1>
                    <h2> We're redefining facility management by accurately predicting key performance indicators for terminals handling over 10 million shipping containers annually.</h2>
                </div> 
            </div>
        </div>
        <div class="item owl-bg-img">
            <div class="container position-relative">
                <div class="col-lg-6 col-md-6 no-padding corporate-standards-img cover-background position-relative">
                    <img src="../images/coruscant2.png">
                </div>
                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                    <div class="img-border-small-fix border-blue"></div>
                    <i class="icon-focus large-icon green-text"></i>
                    <h1 class="margin-ten no-margin-bottom">TRANSFORMING CONTAINER TERMINALS: A DIGITAL SUCCESS!</h1>
                    <h2>Our replicas go beyond metrics, testing innovations like self-driving trucks, yard reconfigurations, and expansions, showcasing transformative impacts.</h2>
                </div>
            </div>
        </div>
        <div class="item owl-bg-img">
            <div class="container position-relative">
                <div class="col-lg-6 col-md-6 no-padding corporate-standards-img cover-background position-relative">
                    <img src="../images/coruscant3.png">
                </div>
                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                    <div class="img-border-small-fix border-blue"></div>
                    <i class="icon-wallet large-icon green-text"></i>
                    <h1 class="margin-ten no-margin-bottom">REVOLUTIONIZING COST MANAGEMENT:</h1>
                    <h2>Our innovative cost model has transformed how operational costs per container are calculated, adapting seamlessly to various setups. It's like we've unlocked a crystal ball for predicting container expenses!.</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-five">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Tailored to fit your needs</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-two">
            <!-- drop daps -->
            <p class="text-large strong text-center margin-five">Embrace the future with ROSIEP<span class="lower">i</span> – your solution for seamless business intelligence integration. Custom-fit to your operations, it quickly syncs with your systems for immediate insight transformation. Adapt fast with ROSIEP<span class="lower">i</span>.</p>
        </div> 
        <!-- Innovate -->
        <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
            <h2 class="margin-two">Customizability</h2>
            <p class="center-col width-90 text-large blue">ROSIEP<span class="lower">i</span> is designed with flexibility at its core. Tailor the platform to fit your unique business needs and scale as you grow.</p>
        </div>
        <!--End Innovate  -->
        <!-- Innovate -->
        <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
            <h2 class="margin-two">Adaptability</h2>
            <p class="center-col width-90 text-large blue">Quickly integrate ROSIEP<span class="lower">i</span> with your existing systems. Our agile framework adapts to your operational environment, ensuring a smooth transition and immediate value.</p>
        </div>
        <!--End Innovate  -->
        <!-- Innovate -->
        <div class="col-md-4 col-sm-4 testimonial-style2 text-center wow zoomInUp xs-margin-bottom-ten">
            <h2 class="margin-two">Data Integration</h2>
            <p class="center-col width-90 text-large blue">Effortlessly import your data into ROSIEP<span class="lower">i</span>. We support a range of formats, making it easy for you to get started and maintain your workflow efficiency.</p>
        </div>
        <!--End Innovate  -->  

</div>
    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-two">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Securing Your Data</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">
                                  
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-two wow zoomInUp">
                <img src="../images/secure.png">
            </div>
            <div class="col-md-6 col-sm-12 margin-ten">
                <h2 class="text-center">Your data's security is paramount. We implement rigorous measures and constantly evolve our protocols to protect your information, making us your trusted guardian.</h2>
            </div>
            
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>

<section class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-two">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Plans and add-ons:</h1>
                </div>
            </div>
            <div class="col-12 col-sm-12 xs-margin-bottom-two">
                <!-- drop daps -->
                <p class="text-large strong text-center margin-five">Your gateway to smarter operations: the Basic License offers vital tools like Digital Twin Simulation and Scenario Manager, with access for 10 users and 150 DT Simulator hours. Expand functionality with our tailored Add-Ons anytime.</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">
            <div class="col-md-6 col-sm-12 wow zoomInUp corporate-standards">
                <div class="border border-blue padding-seven">
                <h1 class="blue-text">Basic License</h1>
                <a href="https://calendly.com/helgentech/intro-to-helgen-technologies" target="_blank" class="highlight-button2 btn btn-small button xs-margin-bottom-five">Try Now!</a>
                <div class="separator-line-full bg-green"></div>
                <ul class="ulcheck">
                    <li style="margin-top:10px"><h2><strong>DIGITAL TWIN SIMULATION</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>VISUALIZER</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>SCENARIO MANAGER</strong></h2></li>
                    <li style="margin-top:10px"><h2><span class="green-text">5 </span><strong>FULL USERS:</strong></h2></li>
                    <li style="margin-top:10px"><h2><span class="green-text">5 </span><strong>BASIC USERS:</strong></h2></li>
                    <li style="margin-top:10px"><h2><span class="green-text">150 </span><strong>SIMULATOR HOURS:</strong></h2></li>
                </ul>
                </div>
            </div>
            <div class="col-md-1 col-sm-12" style="min-width:10px"></div>
            <div class="col-md-6 col-sm-12 wow zoomInUp corporate-standards">
                <div class="border border-blue padding-seven">
                <h1 class="blue-text">add-ons</h1>
                <a href="https://calendly.com/helgentech/intro-to-helgen-technologies" target="_blank" class="highlight-button2 btn btn-small button xs-margin-bottom-five">Try Now!</a>
                <div class="separator-line-full bg-green"></div>
                <ul class="ulcheck">
                    <li style="margin-top:10px"><h2><strong>COST ANALYSIS TOOL</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>SCENARIO COMPARE TOOL</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>PHYSICS/KINEMATICS ENGINE</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>MONTE CARLO Experimenter</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>DATABASE CONNECTORS</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>ADDITIONAL DT SIMULATION TIME</strong></h2></li>
                    <li style="margin-top:10px"><h2><strong>ADDITIONAL USERS</strong></h2></li>
                </ul>
                </div>
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>


<section id="lastDiv" class="wow fadeIn" style="padding:0;">
    <div class="container">
        <div class="row no-margin-bottom margin-two">
            <!-- heading -->
            <div class="col-md-12 col-sm-12 dividers-header center-col text-center double-line">
                <div class="subheader bg-white">
                    <h1>Empower your Business with US</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 xs-margin-bottom-seven margin-two">                     
            <!-- content  Image Right-->
            <div class="col-md-6 col-sm-12 margin-ten">
                <h2 class="text-center">Transform your operations now—unlock tailored insights, ensure data security, and step into a future of strategic agility with us. Let's partner today.</h1><br><br>
                <div class="text-center">
                <a href="https://calendly.com/helgentech/intro-to-helgen-technologies" target="_blank" class="highlight-button2 btn btn-small button xs-margin-bottom-five">Try Now!</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 margin-two wow zoomInUp">
                <img src="../images/handshake.png">
            </div>
            <!-- end content  -->      
        </div> 
    </div>
</div>    
</section>

<div class="bg-blue sticky padding-sticky wow fadeInUp" style="margin-bottom:-2px">
    <div class="row sm-text-center">
        <div class="col-md-1">
            <i class="medium-icon white-text icon-laptop" style="margin: 11px !important;"></i>
        </div>
        <div class="col-md-7 no-padding">
            <h2 class="text-uppercase letter-spacing-2 margin-two white-text font-weight-600 xs-margin-top-six xs-margin-bottom-six display-block">Get in Touch and request a demo</h2>
        </div>
        <div class="col-md-4 no-padding">
            <a class="highlight-button btn btn-large button xs-margin-bottom-five xs-no-margin-right" href="https://calendly.com/helgentech/intro-to-helgen-technologies">Contact Us!</a>
        </div>
    </div>
</div>



{{ end }}